# Binaries
*,cover
*.pyc
*.lck
.env/
build/
dist/
*.egg-info/
__pycache__/
# IDE related

.idea/
.swp

# tests
junit-result.xml
coverage.xml
clover.xml
htmlcov/
.coverage
.coverage.*
log/
*_names.json
.pytest_cache/
